.container {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   backdrop-filter: blur(3px);
}

.cross {
   display: inline-block;
   font-size: 1.4rem;
   font-weight: 600;
   background-color: #d33636;
   color: #fff;
   width: 30px;
   height: 30px;
   line-height: 30px;
   text-align: center;
   border-radius: 5px;
   cursor: pointer;
}

.chart {
   width: 800px;
   margin: auto;
   padding: 20px;
   margin-top: 100px;
   background-color: #18181ce6;
   border: 2px solid #404042;
   border-radius: 20px;
}

.chartHead {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 16px;
}

.chartTitle {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.chartTitle h2 {
   margin-left: 10px;
}

.graph {
   width: 760px;
   height: 300px;
}

.types {
   margin-top: 6px;
}

.types button {
   margin: 4px 30px;
   background-color: #18181cdb;
   border: 1px solid #3874ff;
   color: #3874ff;
   font-size: 1rem;
   padding: 4px 10px;
   border-radius: 5px;
   cursor: pointer;
}

.types .selected {
   background-color: #3874ff;
   color: #fff;
}

.details {
   display: flex;
   justify-content: space-between;
   margin: 10px 20px 0;
}

.details div {
   display: flex;
   font-size: 1.1rem;
}

.details p {
   margin-right: 7px;
   color: #3874ff;
   font-weight: 700;
}

@media (max-width:600px) {
   .container {
     overflow-x: scroll;
   }
   .chart{
      margin: 100px 6px 0;
   }
}