.container {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   margin: 30px 0 50px;
   min-height: 1000px;
}

.table {
   width: 100%;
   border-collapse: collapse;
   background-color: #00000066;
   backdrop-filter: blur(6px);
   border-radius: 10px;
}

.table thead {
   border-bottom: 2px solid #fff;
   margin-bottom: 20px;
}

.table th {
   font-size: 1.2rem;
   text-align: left;
   padding: 10px;
}

.table td {
   padding: 4px 10px;
}

.table tbody tr {
   height: 56px;
   border-bottom: 1px solid #22262e;
   font-weight: 600;
   font-size: 1.1rem;
}

.symbol {
   display: flex;
   align-items: center;
   cursor: pointer;
}

.symbol img {
   width: 25px;
   height: 25px;
   margin-right: 10px;
}

.symbol span {
   font-weight: 600;
   font-size: 1.2rem;
   color: #9fa6b7;
}

.success {
   color: #57bc7c;
}

.error {
   color: #f03838;
}

@media (max-width:600px) {
   .table {
      display: block;
      overflow-x: scroll;
      border-radius: 0px;
   }
   .table th {
      font-size: 1rem;
      text-align: left;
      padding: 8px;
   }
   .table tbody tr {
      font-size: 1rem;
   }
   .table td {
      padding: 0px 10px;
   }
}