.header{
   padding: 10px 20px;
   margin-bottom: 80px;
   border-radius: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #3874ff;
}
.header a{
   text-decoration: none;
   color: black;
   font-weight: 600;
   font-size: 1.1rem;
   padding: 2px 4px;
   background-color: #0033ac;
   border-radius: 6px;
   color: #bdd1ff;
}
.footer{
   text-align: center;
   background-color: #3874ff;
   padding: 20px;
   margin-top: 80px;
   border-radius: 10px;
}
.footer a{
   text-decoration: none;
   color: black;
   font-weight: 600;
   font-size: 1.1rem;
   padding: 2px 4px;
   background-color: #0033ac;
   border-radius: 6px;
   color: #bdd1ff;
}

