.header {
   padding: 10px 20px;
   margin-bottom: 40px;
   margin-top: 10px;
   border-radius: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 60px;
   z-index: 1;
}

.header .title {
   display: flex;
   justify-content: center;
   align-items: center;
}

.title img {
   width: 50px;
   margin-left: 8px;
}

.header>p {
   display: flex;
   align-items: center;
   font-weight: 600;
   border-radius: 8px;
   padding: 4px 8px;
   transition: all 0.2s ease;
}

.header>p>img {
   width: 30px;
}

.header p>a {
   font-size: 1.1rem;
   margin-left: 6px;
}

.header p:hover {
   background-color: #353535;
   box-shadow: 4px 4px 10px #464646;
}


.footer {
   text-align: center;
   background-color: #2e2e2e;
   padding: 16px;
   margin: 20px 0 10px;
   border-radius: 10px;
   font-size: 1.1rem;
}

@media (max-width:600px) {
   .header {
      position: static;
      margin-bottom: 15px;
      border-radius: 0;
      padding: 10px;
   }

   .title h2 {
      font-size: 1.1rem;
   }

   .title img {
      width: 40px;
   }

   .header p>a {
      font-size: 1rem;
   }

   .footer {
      margin: 0;
      border-radius: 0px;
      font-size: 1rem;
   }

}